.main-heading {
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
}
.ccbp-heading {
  font-family: Roboto;
  text-align: center;
  color: #2b237c;
  font-weight: 500;
  font-size: 30px;
}
